/* override table width restrictions */
/* https://rackerlabs.github.io/docs-rackspace/tools/rtd-tables.html */
@media screen and (min-width: 767px) {
	.wy-table-responsive table td {
		white-space: normal !important;
	}

	.wy-table-responsive {
		overflow: visible !important;
	}
}
